@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	color-scheme: dark;
}
  
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  
}

a {
  font-weight: 500;
  text-decoration: inherit;
}


body {
  margin: 20;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.violet-gradient {
	background: #00FFFF;
	background: linear-gradient(-90deg, #00FFFF 0%, rgba(60, 51, 80, 0) 100%);
	background: -webkit-linear-gradient(
	  -90deg,
	  #00FFFF 0%,
	  rgba(60, 51, 80, 0) 100%
	);
  }

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
  }
}
